* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-image: url('Background.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5ebdc;
    text-align: center;
}

header {
    top: 0;
    left: 0;
    color: #070354;
    position: fixed;    
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    height: 100vh;
    width: 100vw;
    margin: 30px auto;
    padding: 10px;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 { 
    color: #e6e6e6;

}
h3 {
    color: #2c3e50;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

.gallery-images {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gallery-images .image img {
    width: 350px;
    height: 350px;
    border-radius: 5px;
    padding-top: 50px;
}

footer {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
    list-style: none;
    display: inline-block;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: all ease 0.5s;
}

nav ul li a:hover {
    background-color: #000b41;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.center-logo {
    width: 350px;
    height: auto;
    margin-bottom: 30px;
}

h2 {
    font-size: 20px;
    font-style: bold;
    color: #e6e6e6;
    font-family: Copperplate, Papyrus, fantasy;
}

button {
    background-color: transparent;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    font-family: Copperplate, Papyrus, fantasy;

    transition: transform 0.3s ease;
}


button:hover {
    transform: translateY(-10px);
    background-color: #980000;
    color: white;
}
footer {
    background-color: #2d5c88;
    padding: 30px;
    display: flex;
}

